# **Tugas Pertemuan 9 Algoritma Pemrograman**
##**Kelompok : 10**
##**Kelas : RC**

## **Latihan**

### ***Nomor 1***

Lengkapi tabel berikut ini!

| Sequence Type | Mutability | Access by Index | Duplicate Element | Change Element | Add / Remove Element |
|:-------------:|:----------:|:---------------:|:-----------------:|:--------------:|:--------------------:|
| List          |&check;          | &check;            | &check;              | &check;         |&check;          |
| Tuple         |&cross;          |&check;             | &check;     |  &cross;         |&cross;                      |
| Set           |&cross;              | &cross;                  |&cross;          |&cross;                  | &check;                     |
| Dictionary    |&check;            | &cross;                | &cross;           |    &check;            |  &check;               |

### ***Nomor 2***
Terdapat data sebagai berikut: \
	**Data:** 1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80
	dengan mengimplementasi sequence type , buatlah program untuk: \
	- Menghitung rata rata dari data tersebut \
	- Mencari apa saja nilai unik yang dari data tersebut \
	- Menghitung frekuensi kemunculan dari setiap elemen unik tersebut

#### **Jawaban:**

In [ ]:
import numpy as np

Data = np.array([1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80])

res_1 = np.mean(Data)
print("Rata-rata : ", res_1, "\n")
unique_elements, count_elements = np.unique(Data, return_counts= True)
print("Unique Value dan Frekuensi adalah sebagai berikut: \n")
print(np.asarray((unique_elements,count_elements)))

Rata-rata :  24.51851851851852

Unique Value dan Frekuensi adalah sebagai berikut:

[[ 1  2  3  4  5  6  9 10 11 12 19 20 30 50 80 90]
 [ 2  2  1  1  2  1  1  1  3  1  1  2  2  4  2  1]]

### ***Nomor 3***

Terdapat tabel grade mahasiswa sebagai berikut:

| NIM        | NAMA  | ALPRO | STRUKDAT | ADS | LMD | ALE |
| ---------- | ----- | ----- | -------- | --- | --- | --- |
| 1301142289 | ISA   | A     | A        | A   | A   | A   |
| 1301140389 | LIA   | C     | A        | B   | A   | AB  |
| 1301142099 | NAMDY | B     | B        | BC  | AB  | D   |
| 1301142091 | SANDI | B     | C        | D   | A   | A   | 

- Jelaskan sequence type apa yang cocok digunakan untuk mengolah data tersebut!
- Buatlah program untuk menghitung ipk dari setiap mahasiswa pada tabel tersebut!

* Jelaskan sequence type apa yang cocok digunakan untuk mengolah data tersebut!

**Jawab :** \
*Sequence type yang digunakan adalah list karena ditulis dengan [ ] lalu mengakses elemen list menggunakan index slicing.*

In [1]:
mahasiswa1 = [1301142289, "ISA", "A", "A", "A", "A", "A"]
mahasiswa2 = [1301140389, "LIA", "C", "A", "B", "A", "AB"]
mahasiswa3 = [1301142099, "NAMDY", "B", "B", "BC", "AB", "D"]
mahasiswa4 = [1301142091, "SANDI", "B", "C", "D", "A", "A"]

def convert_indeks (i):
  nilai = 0
  if i == "A":
    nilai = 4
  elif i == "AB":
    nilai = 3.5
  elif i == "B":
    nilai = 3
  elif i == "BC":
    nilai = 2.5
  elif i == "C":
    nilai = 2
  elif i == "D":
    nilai = 1
  elif i == "E":
    nilai = 0
  return nilai

def IPK(li):
  seq_indeks = li[2:]
  total = 0
  for i in seq_indeks:
    total = total + convert_indeks(i)
  rerata = total / len (seq_indeks)
  return print(rerata)

grade_mahasiswa1 = IPK(mahasiswa1)
grade_mahasiswa2 = IPK(mahasiswa2)
grade_mahasiswa3 = IPK(mahasiswa3)
grade_mahasiswa4 = IPK(mahasiswa4)

4.0
3.3
2.6
2.8

### ***Soal 4***

**The Anagram Problem.**

Original Text: 'Institut Teknologi Sumatera'

Result Text: EAIGLKNMROTSU

Buatlah program untuk mengubah sebuah string menjadi string lain dengan rule sebagai berikut:
- Hasil result string seluruhnya adalah capital.
- Tidak ada huruf yang duplikat dalam string result.
- Posisi character si string baru terurut secara ascending, namun index genap dan ganjil di tukar dalam pair. Contoh: AEJK menjadi EAKJ.

#### **Jawab**:

In [2]:
string = 'Institut Teknologi Sumatera'
print('Original Text\t: ', string)
upper = string.upper()
unik = list(set(upper))
unik.remove(' ')
unik.sort()
print('Ascending Huruf tanpa Duplikat: ' ,(unik))

class solution:
  def solve (self,nums):
    length = len(unik)
    for i in range(0, length, 4):
      if (i+1<length):
        unik[i], unik[i+1] = unik[i+1], unik[i]
      if (i+2<length):
        unik[i+2], unik[i+3] = unik[i+3], unik[i+2]
    return unik

ob = solution()
nums = unik
ob.solve(nums)
print('Result Text : ', str.join('',nums))

Original Text	:  Institut Teknologi Sumatera
Ascending Huruf tanpa Duplikat:  ['A', 'E', 'G', 'I', 'K', 'L', 'M', 'N', 'O', 'R', 'S', 'T', 'U']
Result Text :  EAIGLKNMROTSU